{
    "root": true,
    "plugins": ["prettier"],
    "extends": [
        "next",
        "next/core-web-vitals",
        "prettier",
    ],
    "ignorePatterns": [".next", "__test__", "next.config.js"],
}
